include ../mixins/tableTree.pug
header.header 
    .container                      
        .row.align-item-center      
            .col-3                  
                .inner-logo 
                    a(href="/")
                        img(src="", alt="Logo")
            .col-5 
                form(
                    action="/search"
                    method="GET"
                )
                    div
                        input(
                            name="keyword"
                            type="text"
                            placeholder="Nhập từ khóa..."
                            class="form-control"
                        )
                        button(
                            class="btn btn-primary"
                            type="submit"
                        )   Tìm
            .col-4         
                .inner-menu 
                    ul 
                        li 
                            a(href="/user/register") Đăng ký
                        li 
                            a(href="/") Trang chu
                        li(class="sub-menu")
                            a(href="/product") San pham
                                +tableTree(categoryMenu)
