mixin tableTree(records,level=1)
    each item,index in records
        - const s=Array(level+1).join("-- ")
        tr 
            td #{item.index}
            td 
                img(
                    src=item.thumbnail 
                    alt="san pham"
                    width="100px"
                    height="auto"
                )
            td #{s}#{item.title}
            td
                a(
                    class="btn btn-warning btn-sm"
                    href=`${prefixedAdmin}/category/edit/${item._id}`
                    ) Sửa
        if item.children && item.children.length>0
            +tableTree(item.children,level+1)