header.header 
    .container-fluid
        .row.align-item 
            .col-3 
                .inner-logo 
                    a(href="/admin/dashboard") ADMIN 

            .col-9
                div(class="text-right")
                    a(
                        href=`${prefixedAdmin}/account/detail`
                        class="btn btn-primary"
                    ) #{user.fullName}
                    a(
                        href=`${prefixedAdmin}/auth/login`
                        class="btn btn-danger"
                    ) Log out